<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="Store_Openings_Time_Config" translate="label" class="a-custom-css-class-to-style-this-tab" sortOrder="30">
            <label>A meaningful label</label>
        </tab>

        <section id="magegro_store_openingstime_general" showInDefault="1" showInWebsite="0" showInStore="1" sortOrder="30" translate="label">
            <label>A meaningful section label</label>
            <tab>Store_Openings_Time_Config</tab>
            <resource>VENDOR_MODULE::path_to_the_acl_resource</resource>
            <group id="openings_time_settings" translate="label" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="1">
                <label>Time Formate</label>
                <comment>he fields defined in this group.</comment>

                <field id="time_format" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Time</label>
                    <source_model>Magento\Catalog\Model\Config\Source\TimeFormat</source_model>
                    <frontend_model>MageGro\OpeningsTime\Block\Adminhtml\Form\Field\TimeFormatField</frontend_model> 
                </field>
            </group>

            <group id="store_openings_values" translate="label" sortOrder="300" showInDefault="1" showInWebsite="0" showInStore="1">
                <label>Store Working Days And Time</label>
                <comment>An additional comment helping users to understand the effect when configuring the fields defined in this group.</comment>
              
                <field id="Sunday_open" translate="label" type="MageGro\OpeningsTime\Block\Adminhtml\Form\Element\CustomTime" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sunday</label>
                </field>

                <field id="Sunday_close" translate="label" type="MageGro\OpeningsTime\Block\Adminhtml\Form\Element\CustomTime" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                </field>
                <field id="Sunday_closeampm" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="magegro_store_openingstime_general/openings_time_settings/time_format">12h</field>
                    </depends>
                    <source_model>MageGro\OpeningsTime\Model\Config\Source\Custom</source_model>
                    <!-- <frontend_model>MageGro\OpeningsTime\Block\Adminhtml\Form\Field\AmPmCustomFrontend</frontend_model> -->

                </field>

                <field id="Monday_open" translate="label" type="MageGro\OpeningsTime\Block\Adminhtml\Form\Element\CustomTime" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Monday</label>
                </field>
                <field id="Monday_openampm" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="magegro_store_openingstime_general/openings_time_settings/time_format">12h</field>
                    </depends>
                    <source_model>MageGro\OpeningsTime\Model\Config\Source\Custom</source_model>
                    <!-- <frontend_model>MageGro\OpeningsTime\Block\Adminhtml\Form\Field\AmPmCustomFrontend</frontend_model> -->

                </field>
                <field id="Monday_close" translate="label" type="MageGro\OpeningsTime\Block\Adminhtml\Form\Element\CustomTime" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">

                </field>

                <field id="Monday_closeampm" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="magegro_store_openingstime_general/openings_time_settings/time_format">12h</field>
                    </depends>
                    <source_model>MageGro\OpeningsTime\Model\Config\Source\Custom</source_model>
                    <!-- <frontend_model>MageGro\OpeningsTime\Block\Adminhtml\Form\Field\AmPmCustomFrontend</frontend_model> -->

                </field>

                <field id="Tuesday_open" translate="label" type="MageGro\OpeningsTime\Block\Adminhtml\Form\Element\CustomTime" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Tuesday</label>

                </field>
                <field id="Tuesday_openampm" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="magegro_store_openingstime_general/openings_time_settings/time_format">12h</field>
                    </depends>
                    <source_model>MageGro\OpeningsTime\Model\Config\Source\Custom</source_model>
                    <!-- <frontend_model>MageGro\OpeningsTime\Block\Adminhtml\Form\Field\AmPmCustomFrontend</frontend_model> -->

                </field>
                <field id="Tuesday_close" translate="label" type="MageGro\OpeningsTime\Block\Adminhtml\Form\Element\CustomTime" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">

                </field>

                <field id="Tuesday_closeampm" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="magegro_store_openingstime_general/openings_time_settings/time_format">12h</field>
                    </depends>
                    <source_model>MageGro\OpeningsTime\Model\Config\Source\Custom</source_model>
                    <!-- <frontend_model>MageGro\OpeningsTime\Block\Adminhtml\Form\Field\AmPmCustomFrontend</frontend_model> -->

                </field>

                <field id="Wednesday_open" translate="label" type="MageGro\OpeningsTime\Block\Adminhtml\Form\Element\CustomTime" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Wednesday</label>

                </field>
                <field id="Wednesday_openampm" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="magegro_store_openingstime_general/openings_time_settings/time_format">12h</field>
                    </depends>
                    <source_model>MageGro\OpeningsTime\Model\Config\Source\Custom</source_model>
                    <!-- <frontend_model>MageGro\OpeningsTime\Block\Adminhtml\Form\Field\AmPmCustomFrontend</frontend_model> -->


                </field>
                <field id="Wednesday_close" translate="label" type="MageGro\OpeningsTime\Block\Adminhtml\Form\Element\CustomTime" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">

                </field>

                <field id="Wednesday_closeampm" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="magegro_store_openingstime_general/openings_time_settings/time_format">12h</field>
                    </depends>
                    <source_model>MageGro\OpeningsTime\Model\Config\Source\Custom</source_model>
                    <!-- <frontend_model>MageGro\OpeningsTime\Block\Adminhtml\Form\Field\AmPmCustomFrontend</frontend_model> -->


                </field>
                <field id="Thursday_open" translate="label" type="MageGro\OpeningsTime\Block\Adminhtml\Form\Element\CustomTime" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Thursday</label>

                </field>
                <field id="Thursday_openampm" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="magegro_store_openingstime_general/openings_time_settings/time_format">12h</field>
                    </depends>
                    <source_model>MageGro\OpeningsTime\Model\Config\Source\Custom</source_model>
                    <!-- <frontend_model>MageGro\OpeningsTime\Block\Adminhtml\Form\Field\AmPmCustomFrontend</frontend_model> -->


                </field>
                <field id="Thursday_close" translate="label" type="MageGro\OpeningsTime\Block\Adminhtml\Form\Element\CustomTime" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">

                </field>

                <field id="Thursday_closeampm" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="magegro_store_openingstime_general/openings_time_settings/time_format">12h</field>
                    </depends>
                    <source_model>MageGro\OpeningsTime\Model\Config\Source\Custom</source_model>
                    <!-- <frontend_model>MageGro\OpeningsTime\Block\Adminhtml\Form\Field\AmPmCustomFrontend</frontend_model> -->


                </field>


                <field id="Friday_open" translate="label" type="MageGro\OpeningsTime\Block\Adminhtml\Form\Element\CustomTime" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Friday</label>

                </field>
                <field id="Friday_openampm" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="magegro_store_openingstime_general/openings_time_settings/time_format">12h</field>
                    </depends>
                    <source_model>MageGro\OpeningsTime\Model\Config\Source\Custom</source_model>
                    <!-- <frontend_model>MageGro\OpeningsTime\Block\Adminhtml\Form\Field\AmPmCustomFrontend</frontend_model> -->

                </field>
                <field id="Friday_close" translate="label" type="MageGro\OpeningsTime\Block\Adminhtml\Form\Element\CustomTime" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                </field>

                <field id="Friday_closeampm" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="magegro_store_openingstime_general/openings_time_settings/time_format">12h</field>
                    </depends>
                    <source_model>MageGro\OpeningsTime\Model\Config\Source\Custom</source_model>
                    <!-- <frontend_model>MageGro\OpeningsTime\Block\Adminhtml\Form\Field\AmPmCustomFrontend</frontend_model> -->

                </field>

                <field id="Saturday_open" translate="label" type="MageGro\OpeningsTime\Block\Adminhtml\Form\Element\CustomTime" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Saturday</label>
                </field>
                <field id="Saturday_openampm" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="magegro_store_openingstime_general/openings_time_settings/time_format">12h</field>
                    </depends>
                    <source_model>MageGro\OpeningsTime\Model\Config\Source\Custom</source_model>
                    <!-- <frontend_model>MageGro\OpeningsTime\Block\Adminhtml\Form\Field\AmPmCustomFrontend</frontend_model> -->

                </field>
                <field id="Saturday_close" translate="label" type="MageGro\OpeningsTime\Block\Adminhtml\Form\Element\CustomTime" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                </field>

                <field id="Saturday_closeampm" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="magegro_store_openingstime_general/openings_time_settings/time_format">12h</field>
                    </depends>
                    <source_model>MageGro\OpeningsTime\Model\Config\Source\Custom</source_model>
                    <!-- <frontend_model>MageGro\OpeningsTime\Block\Adminhtml\Form\Field\AmPmCustomFrontend</frontend_model> -->

                </field>

            </group>
        </section>
    </system>
</config>