<section class="openinghours">
    <div class="openinghourscontent section">
        <div class="header">
            <h2>
                <!-- ko i18n: 'Openings Hours' -->
                <!-- /ko -->
            </h2>
            <div data-bind="attr: {class: getOpeningStatus()}">
                <span data-bind="i18n: 'We Are '">We Are </span>
                <span data-bind="text: getOpeningStatus()"></span>
            </div>


        </div>
        <table class="days">
            <tbody>
                <!-- ko foreach: dayNames -->
                <!-- /ko -->
                <!-- ko if: $index === new Date(getDay())-->
                <!-- /ko -->
                <tr data-bind="id : $index" data-bind="style: { color: openStatus() ? 'green' : 'red' }">
                    <td data-bind="text: dayNames[$index]"></td>
                    <td data-bind="text: openingtime"></td>

                </tr>
            </tbody>
        </table>

    </div>
</section>
