        <div class="header">
            <h2>
                <!-- ko i18n: 'Openings Hours' -->
                <!-- /ko -->
            </h2>
            <div>
                <span data-bind="i18n: 'We Are '">We Are </span>
                <span data-bind="text: getOpeningStatus()"></span>
            </div>
        </div>

        <div class="block-content">
            <button type="button" id="btn-openings-close" class="action close" data-action="close"
                data-bind="attr: { title: $t('Close') }, click: show">
                <span translate="'Close'" />
            </button>
            <table class="days">
                <tbody>
                    <!-- ko foreach: { data: openingstime, as: 'daytime' } -->
                    <tr data-bind="attr: { id: $index }, style: { color:
                         ($index() === (new Date()).getDay() && $parent.getOpeningStatus(daytime.time.openingtime, daytime.time.closingtime)) ? 'green': 'red' }">
                        <td  data-bind="text: daytime.day"></td>
                        <td data-bind="text: daytime.time.openingtime"></td>
                        <td  data-bind="text: daytime.time.closingtime"></td>
                    </tr>
                    <!-- /ko -->
                </tbody>
            </table>
        </div>
