<div class="container">

    <div class="block-content">

        <table class="center">
            <thead  class="days">
                <tr>
                    <th colspan="3">
                        <!-- ko i18n: 'Openings Hours' -->
                        <!-- /ko -->
                    </th>
                </tr>

            </thead>
            <tbody>
                <!-- ko foreach: { data: openingstime, as: 'daytime' } -->


                <tr data-bind="attr: { id: $index }, style: { color:
                 ($index() === (new Date()).getDay() && $parent.getOpeningStatus(daytime.time.open, daytime.time.close)) ? 'green': 'red' }">
                    <td data-bind="text: daytime.day"></td>
                    <td data-bind="text: daytime.time.open"></td>
                    <td data-bind="text: daytime.time.close"></td>
                </tr>
                <!-- /ko -->
            </tbody>
        </table>
    </div>
</div>
